div.suggestions {
  background-color: #EEEEEE;
  margin-top: 5px;
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  border-radius: 3px;
  max-height: 200px;
  overflow-y: scroll;
}

div.suggestions > button {
  visibility: hidden;
}

div.solution {
  padding: 0.7rem 0.5rem;
  border-radius: 3px;
  font-size: 0.9rem;
  background-color: #ABABAB;
  color: black;
  cursor: pointer;
  margin: 3px;
  font-weight: bold;
  user-select: none;
  border: none;
  position: relative;
}

div.solution:hover {
  background-color: #888888;
}

div.solution > span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 1px 5px;
  background-color: black;
  color: #EEEEEE;
  border-radius: 3px;
  font-size: 0.4rem;
  display:block;
}